In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd 
import glob

from JSONreader import *

In [3]:
path ='../webhose_data'

folders = [x[0] for x in os.walk(path)][1:]

def import_json_from_folder(folder):
    allFiles = glob.glob(folder + "/*.json")
    list_ = []
    for file_ in allFiles:
        df = json_to_dataframe(file_)
        list_.append(df)
    return pd.concat(list_).reset_index(drop=True)

def import_all_json_from_folders(folder_list):
    list_ = []
    for f in folder_list:
        df = import_json_from_folder(f)
        list_.append(df)
    return pd.concat(list_).reset_index(drop=True)

In [4]:
frame = import_all_json_from_folders(folders)
# save the frame 
frame.to_csv('../Datasets/articles.csv', sep='\t', encoding='utf-8')

In [5]:
frame.columns

Index(['site', 'site_type', 'site_section', 'site_categories', 'domain_rank',
       'country', 'author', 'published', 'title', 'text', 'highlightText',
       'highlightTitle', 'language', 'rating', 'locations_pos',
       'locations_neu', 'locations_neg', 'organizations_pos',
       'organizations_neu', 'organizations_neg', 'persons_pos', 'persons_neu',
       'persons_neg'],
      dtype='object')

In [13]:
frame.head()

,site,site_type,site_section,site_categories,domain_rank,country,author,published,title,text,...,rating,locations_pos,locations_neu,locations_neg,organizations_pos,organizations_neu,organizations_neg,persons_pos,persons_neu,persons_neg
0,01net.com,discussions,http://forum.telecharger.01net.com/forum/high-...,"[hobbies_and_interests, video_and_computer_games]",1825,FR,thicha,2017-10-05T15:37:00.000+03:00,Windows insiders RS 3,Nouvelle MàJ\nWindows 10 Insider Preview 16299...,...,None,[],[],[],[],[],[],[],[],[]
1,01net.com,discussions,http://forum.telecharger.01net.com/forum/high-...,"[hobbies_and_interests, video_and_computer_games]",1825,FR,Isack52415​8,2017-10-09T03:15:00.000+03:00,Instant1000lasolution - Entreprenariat,Voir l'image en grand 0 votes 1 vote 0 vote 0 ...,...,None,[],[],[],[],[],[],[],[],[]
2,01net.com,discussions,http://forum.telecharger.01net.com/forum/high-...,"[hobbies_and_interests, video_and_computer_games]",1825,FR,Isack52415​8,2017-10-09T03:16:00.000+03:00,,@instant1000lasolution,...,None,[],[],[],[],[],[],[],[],[]
3,01net.com,discussions,http://forum.telecharger.01net.com/forum/high-...,"[hobbies_and_interests, video_and_computer_games]",1825,FR,Isack52415​8,2017-10-09T03:16:00.000+03:00,,Bonjour,...,None,[],[],[],[],[],[],[],[],[]
4,01net.com,discussions,http://forum.telecharger.01net.com/forum/high-...,"[hobbies_and_interests, video_and_computer_games]",1825,FR,ErinFrazie​r,2017-10-09T05:42:00.000+03:00,Vidmate movies download all video you want! - ...,Are you looking to downoad videos from Youtube...,...,None,[],[],[],[],[],[],[],[],[]

In [6]:
frame.loc[frame['site'] == 'cnn.com'].site_section.unique()

array(['http://rss.cnn.com/rss/cnn_topstories',
       'http://rss.cnn.com/rss/edition_sport.rss',
       'http://rss.cnn.com/rss/edition_americas.rss',
       'http://rss.cnn.com/rss/cnn_allpolitics.rss&author=CNN&title=Politics',
       'http://rss.cnn.com/rss/edition.rss', '',
       'http://rss.cnn.com/rss/cnn_latest.rss',
       'http://rss.cnn.com/rss/money_latest.rss',
       'http://rss.cnn.com/rss/cnn_topstories.rss',
       'http://rss.cnn.com/rss/cnn_allpolitics.rss\r',
       'http://rss.cnn.com/rss/cnn_freevideo',
       'http://rss.cnn.com/rss/cnn_showbiz', 'http://cnn.com/podcast',
       'http://rss.cnn.com/rss/cnn_allpolitics',
       'http://rss.cnn.com/rss/edition.rss\r',
       'http://news.google.com/news?ned=us&topic=w&output=rss',
       'http://rss.cnn.com/rss/cnn_showbiz.rss&author=CNN&title=Entertainment',
       'http://news.google.com/news?pz=1&cf=all&ned=ca&hl=en&output=rss',
       'http://news.google.com/news?pz=1&cf=all&ned=us&hl=en&output=rss',
       'http://www.medicalwebtimes.com/feeds.php?page=25469',
       'http://news-headlines-today.blogspot.com/feeds/posts/default',
       'http://60plusblog.blogspot.com/feeds/posts/default',
       'http://rss.cnn.com/rss/edition_entertainment.rss',
       'http://us.cnn.com/us',
       'http://rss.cnn.com/rss/cnn_us.rss&author=CNN&title=U.S.',
       'http://rss.cnn.com/rss/cnn_world',
       'http://rss.cnn.com/rss/money_topstories.rss',
       'http://rss.cnn.com/rss/cnn_freevideo.rss',
       'http://rss.cnn.com/rss/cnn_world.rss', 'http://us.cnn.com/world',
       'http://rss.cnn.com/rss/cnn_allpolitics.rss',
       'http://rss.cnn.com/rss/cnn_latest',
       'http://rss.cnn.com/rss/cnn_health.rss&submit=Read',
       'http://rss.cnn.com/rss/money_video_business.rss#2',
       'http://heresalink.com/rss',
       'http://app.feed.informer.com/digest3/VLZEFJTITH.atom',
       'http://rss.cnn.com/rss/cnn_health.rss\r',
       'http://feeds.feedburner.com/cnn/wYAn',
       'http://rss.cnn.com/rss/cnn_showbiz.rss\r',
       'http://rss.cnn.com/rss/money_technology.rss#2',
       'http://rss.cnn.com/rss/cnn_showbiz.rss',
       'http://rss.cnn.com/rss/edition_football.rss\r',
       'http://rss.cnn.com/rss/edition_world.rss'], dtype=object)

In [7]:
frame.groupby(frame.country).count()

,site,site_type,site_section,site_categories,domain_rank,author,published,title,text,highlightText,...,rating,locations_pos,locations_neu,locations_neg,organizations_pos,organizations_neu,organizations_neg,persons_pos,persons_neu,persons_neg
country,,,,,,,,,,,,,,,,,,,,,
,89,89,89,89,89,89,89,89,89,89,...,0,89,89,89,89,89,89,89,89,89
AR,12,12,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
AU,75,75,75,75,75,75,75,75,75,75,...,0,75,75,75,75,75,75,75,75,75
BE,10,10,10,10,10,10,10,10,10,10,...,0,10,10,10,10,10,10,10,10,10
BR,275,275,275,275,275,275,275,275,275,275,...,0,275,275,275,275,275,275,275,275,275
CA,39,39,39,39,39,39,39,39,39,39,...,0,39,39,39,39,39,39,39,39,39
CH,81,81,81,81,81,81,81,81,81,81,...,0,81,81,81,81,81,81,81,81,81
CN,559,559,559,559,559,559,559,559,559,559,...,0,559,559,559,559,559,559,559,559,559
DE,456,456,456,456,455,456,456,456,456,456,...,0,456,456,456,456,456,456,456,456,456
DK,7,7,7,7,7,7,7,7,7,7,...,0,7,7,7,7,7,7,7,7,7
ES,174,174,174,174,174,174,174,174,174,174,...,0,174,174,174,174,174,174,174,174,174
EU,73,73,73,73,73,73,73,73,73,73,...,0,73,73,73,73,73,73,73,73,73
FI,18,18,18,18,18,18,18,18,18,18,...,0,18,18,18,18,18,18,18,18,18
FR,197,197,197,197,197,197,197,197,197,197,...,0,197,197,197,197,197,197,197,197,197
GB,785,785,785,785,784,785,785,785,785,785,...,0,785,785,785,785,785,785,785,785,785
HK,3,3,3,3,3,3,3,3,3,3,...,0,3,3,3,3,3,3,3,3,3
HR,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
HU,100,100,100,100,100,100,100,100,100,100,...,0,100,100,100,100,100,100,100,100,100
ID,259,259,259,259,259,259,259,259,259,259,...,0,259,259,259,259,259,259,259,259,259
IE,7,7,7,7,7,7,7,7,7,7,...,0,7,7,7,7,7,7,7,7,7
IL,13,13,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
IN,419,419,419,419,319,419,419,419,419,419,...,0,419,419,419,419,419,419,419,419,419
IT,234,234,234,234,234,234,234,234,234,234,...,0,234,234,234,234,234,234,234,234,234
JP,317,317,317,317,317,317,317,317,317,317,...,0,317,317,317,317,317,317,317,317,317
KR,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
KS,100,100,100,100,100,100,100,100,100,100,...,0,100,100,100,100,100,100,100,100,100
LI,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
NA,2,2,2,2,2,2,2,2,2,2,...,0,2,2,2,2,2,2,2,2,2
NL,110,110,110,110,110,110,110,110,110,110,...,0,110,110,110,110,110,110,110,110,110
NO,7,7,7,7,7,7,7,7,7,7,...,0,7,7,7,7,7,7,7,7,7
PL,224,224,224,224,224,224,224,224,224,224,...,0,224,224,224,224,224,224,224,224,224
PW,2,2,2,2,2,2,2,2,2,2,...,0,2,2,2,2,2,2,2,2,2
RU,140,140,140,140,140,140,140,140,140,140,...,0,140,140,140,140,140,140,140,140,140
SE,68,68,68,68,68,68,68,68,68,68,...,0,68,68,68,68,68,68,68,68,68
SG,92,92,92,92,92,92,92,92,92,92,...,0,92,92,92,92,92,92,92,92,92
TH,101,101,101,101,101,101,101,101,101,101,...,0,101,101,101,101,101,101,101,101,101
TR,52,52,52,52,52,52,52,52,52,52,...,0,52,52,52,52,52,52,52,52,52
TW,152,152,152,152,152,152,152,152,152,152,...,0,152,152,152,152,152,152,152,152,152
US,6845,6845,6845,6845,6486,6845,6845,6845,6845,6845,...,99,6845,6845,6845,6845,6845,6845,6845,6845,6845
VN,120,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,120,120

In [12]:
frame.groupby(frame.site_type).count()

,site,site_section,site_categories,domain_rank,country,author,published,title,text,highlightText,...,rating,locations_pos,locations_neu,locations_neg,organizations_pos,organizations_neu,organizations_neg,persons_pos,persons_neu,persons_neg
site_type,,,,,,,,,,,,,,,,,,,,,
blogs,3290,3290,3290,3104,3290,3290,3290,3290,3290,3290,...,0,3290,3290,3290,3290,3290,3290,3290,3290,3290
discussions,1906,1906,1906,1897,1906,1906,1906,1906,1906,1906,...,99,1906,1906,1906,1906,1906,1906,1906,1906,1906
news,7025,7025,7025,6759,7024,7025,7025,7025,7025,7025,...,0,7025,7025,7025,7025,7025,7025,7025,7025,7025

In [31]:
from google_search import *
from newspaper import Article

arts = []
for idx,t in enumerate(test.iterrows()):
    print(idx)
    url = first_google_result(t['site'] + " " + t.title + " " + t.text)
    if url:
        art = Article(url)
        print(art)
        art.download()
        print('downloaded')
        art.parse()
        #art.nlp()
        arts.append(art)

0

TypeError: tuple indices must be integers or slices, not str

In [19]:
arts[3].url

'https://www.reddit.com/r/HalfLife/comments/6lu2uk/gun_accuracythe_way_guns_are_designed_in_half/&sa=U&ved=0ahUKEwjanMHr_6rXAhWDuhoKHSynB2MQFggUMAA&usg=AOvVaw0W6Wu8OumsUbIfQEKLR1Nf'